//app.scss

// # Table of Contents

// - GLOBAL STYLES
// - MDC STYLES
// - PAGE STYLES
//   - HOME
//   - CONTACT
// - TINY PHONE STYLES
// - WIDE LAYOUT STYLES (DESKTOP)
@import "./reset.scss";
@import "./theme.scss";
@import "./typography.scss";

@import "@material/react-material-icon/index.scss";
@import "@material/react-card/index.scss";
@import "@material/react-button/index.scss";
@import "@material/react-text-field/index.scss";
@import "@material/react-snackbar/index.scss";

/* GLOBAL STYLES */
* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  position: relative;
  background-color: var(--mdc-theme-background);
  color: var(--mdc-theme-on-background);
  line-height: 1.4rem;
}

p {
  margin: 0.8rem auto;
}

a {
  transition: all cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.1s;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: ease;
  transition-delay: 0s;
  text-decoration: none;
  color: hsl(340, 60%, 72%);
  -webkit-tap-highlight-color: hsl(340, 60%, 48%);
}

.underlined__link {
  text-decoration: underline;
  // color: hsl(340, 60%, 72%);
  // -webkit-tap-highlight-color: hsl(340, 60%, 64%)
}

::-moz-selection {
  /* Code for Firefox */
  color: var(--mdc-theme-on-primary);
  background: var(--mdc-theme-primary);
}

::selection {
  color: var(--mdc-theme-on-primary);
  background: var(--mdc-theme-primary);
}

pre {
  background-color: var(--mdc-theme-primary);
  color: var(--mdc-theme-on-primary);
  border-radius: 4px;
  font-size: 80%;
  line-height: 1.45;
  overflow: auto;
  padding: 16px;
}

// pre::-moz-selection {
//   /* Code for Firefox */
//   color: var(--mdc-theme-primary);
//   background: var(--mdc-theme-on-primary);
// }

pre::selection,
code::selection,
code span::selection {
  color: var(--mdc-theme-background);
  background: var(--mdc-theme-background);
}

/* MDC Styles*/

.mdc-card {
  @include mdc-card-shape-radius(8px);
  @include mdc-elevation(1);
  width: 100%;
  height: 100%;
}

.mdc-card__media {
  max-height: 256px;
}

/* WIDE LAYOUT STYLES */
@media screen and (min-width: 1024px) {
  .mdc-card--clickable {
    transition: all cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.1s;
    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: ease;
    transition-delay: 0s;
    &:hover {
      @include mdc-elevation(6);
      cursor: pointer;
    }
  }
}

.mdc-button--round {
  border-radius: 25px;
}

.mdc-floating-label {
  @include mdc-text-field-caret-color(rgba(0, 0, 0, 0.64));
  @include mdc-text-field-label-color(rgba(0, 0, 0, 0.64));
}

.mdc-snackbar__action {
  @include mdc-button-ink-color(#fcfcfc);
}

/* PAGE STYLES */

.page-main__section {
  min-height: 80vh;
}

// HOME

.anoun-home--section1 {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.anoun-home--section1 > h3 {
  margin: 0 auto;
  text-align: center;
}
.anoun-home--section1 > img {
  max-width: 336px;
}

.anoun-home--section2 {
  width: 100vw;
  min-height: 72vh;
  display: flex;
  flex-direction: column;
  background: hsl(340, 60%, 65%);
  background: linear-gradient(
    130deg,
    hsla(340, 60%, 64%, 1) 0%,
    hsla(340, 60%, 88%, 1) 100%,
    rgba(245, 245, 245, 1) 100%
  );
  color: var(--mdc-theme-on-primary);
  padding: 0.8rem 0;
  justify-content: center;
}

.anoun-home--section2 h3 {
  margin: 1.72rem;
}

.anoun-home--section3 {
  width: 90%;
  max-width: 860px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.anoun-home--section3 > h2:first-of-type {
  margin: 2rem;
}

// CONTACT

.contact-page-main__section {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.contact-page-main__section h3 {
  margin: 2rem 0;
}

.anoun-contact-links__section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.anoun-contact-links__section div {
  margin-right: 1rem;
}

.anoun-contact-links__section div h3 {
  margin: 1rem 0 0 0;
}

.anoun-contact-links__section a {
  border-bottom: 1px solid var(--mdc-theme-on-background);
}

.anoun-contact__form > .mdc-text-field {
  margin: 0.48rem 0;
  width: 100%;
}

//ineligant solution for floating label color
.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--mdc-theme-primary);
}

// Blog
.blog-posts__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 2rem;
}

.anoun-blog-card {
  margin-bottom: 0.72rem;
}

.anoun-blog-card-content__container {
  padding: 1rem;
}

.anoun-blog-card-content__container h3 {
  margin-bottom: 0;
}

/* TINY PHONE STYLES */
@media screen and (max-width: 320px) {
}

/* TABLET LAYOUT STYLES */
@media screen and (min-width: 768px) {
  .anoun-home--section1 > img {
    max-width: 670px;
  }

  .anoun-home--section1 {
    min-height: 90vh;
  }
}

/* WIDE LAYOUT STYLES */
@media screen and (min-width: 1024px) {
  .blog-posts__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
    grid-auto-rows: 500px;
  }
}
