// theme.scss

// Black and White Theme

:root {
  --mdc-theme-primary: hsla(340, 60%, 72%, 100%);
  --mdc-theme-on-primary: #fcfcfc;
  --mdc-theme-secondary: #121212;
  --mdc-theme-on-secondary: #fcfcfc;
  --mdc-theme-surface: #fefefe;
  --mdc-theme-background: #fcfcfc;
  --mdc-theme-on-background: #121212;
}

// :root {
//     --mdc-theme-primary: #ffffff;
//     --mdc-theme-on-primary: #000000;
//     --mdc-theme-secondary: #212121;
//     --mdc-theme-on-secondary: #ffffff;
//     --mdc-theme-surface: #424242;
//     --mdc-theme-background: #303030;
//     --mdc-theme-on-background: #ffffff;
// }

// Natural Theme

// :root {
//     --mdc-theme-primary: hsla(340, 60%, 72%, 100%);
//     --mdc-theme-on-primary: #ffffff;
//     --mdc-theme-secondary: #be740b;
//     --mdc-theme-on-secondary: #ffffff;
//     --mdc-theme-surface: #e9e7e3;
//     --mdc-theme-background: #e9e7e3;
//     --mdc-theme-on-background: #503732;
// }
